.display-menu-right > a {
    padding: 0;

    &:after {
        vertical-align: 1em;
    }
}

.display-menu-right {
    a {
        em {
            margin-right: 10px;

            span {
                font-style: normal;
            }
        }
    }

    ul.dropdown-menu {
        a {
            &:active {
                background-color: $sorbus;
            }
        }
    }
}
